.wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  cursor: pointer;
}
.container {
  display: flex;
  height: 150px;
  padding: 32px 39px;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #fff;
}
.sectionWrapper {
  display: flex;
  gap: 24px;
}
.homeSectionOne {
  display: flex;
  width: 40%;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  background: var(--base-0, #fff);
  height: fit-content;
}
.homeSectionTwo {
  display: flex;
  width: 60%;
  padding: 53px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: var(--base-0, #fff);
  border-radius: 16px;
}
.giftCardAmount {
  display: flex;
  gap: 15px;
  font-family: "Clash Display Medium";
  font-size: 36px;
  color: #081630;
  align-items: center;

  .giftCardAmountSub {
    font-size: 16px;
    font-family: "Satoshi Light";
  }
}
.action {
  color: #6c757d;
  font-family: "Satoshi Light";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.actionWrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 16px;
}
.actionBox {
  display: flex;
  height: 113px;
  width: 180px;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--Linear-1, #fd6e6a);
  background: #fef4e6;
  cursor: pointer;
}
.tableTitle {
  color: #111;
  font-family: "Clash Display Medium";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.22px;
}
.tableHead {
  color: #111;
  font-family: "Satoshi Bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.15px;
}
.tableData {
  color: #111;
  font-family: "Satoshi Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 24px;
}
.statusTag {
  display: flex;
  width: 82px;
  height: 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.pending {
  background: #f4f0ff;
  color: #6338dc;
}
.completed {
  background: #e8ffdd;
  color: #5fda24;
}
.error {
  color: #e73434;
  background: #ffe9e9;
}
.GCDSteps {
  font-family: "Satoshi Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.GCDSelect {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  color: #667085;
  margin: 4px 0 20px 0;
}

.GCDSelectLabel {
  color:  #344054;
  font-size: 14px;
  margin-top: 4px;
  font-family: 'Satoshi Light';
}

.GCDAmount {
  color: rgba(23, 162, 184, 0.27);
  font-family: "Satoshi Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}

.GCDUploadWrapper {
  border-radius: 8px;
  border: 1px solid #E8E8E8;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}

.summaryWrapper {
  border-radius: 16px;
  padding: 24px 30px 0 30px;
  background: linear-gradient(135deg, rgba(253, 110, 106, 0.20) 0%, rgba(255, 198, 0, 0.20) 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 32px 0 24px;
  flex-direction: column;
  width: 70%;
}

.summaryDetails {
  font-family: "Satoshi Regular";
  font-size: 18px;
  background-clip: text;
  color: '#1F2739'
}

.summaryDetailsWrapper {
  display: flex;
  margin-bottom: 24px;
}

.summaryLine {
  width: 100%;
  height: 1px;
  background: rgba(31, 39, 57, 0.20);
  margin-bottom: 24px;
}

.summaryButtonWrapper {
  display: flex;
  width: 80%;
  gap: 20px;
  justify-content: center;
}