* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Clash Display Light";
  src: url(./../assets/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Light.woff);
}

@font-face {
  font-family: "Clash Display Semibold";
  src: url(./../assets/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf);
}

@font-face {
  font-family: "Clash Display Medium";
  src: url(./../assets/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Medium.woff2);
}

@font-face {
  font-family: "Satoshi Light";
  src: url(./../assets/Satoshi/Fonts/WEB/fonts/Satoshi-Light.woff);
}

@font-face {
  font-family: "Satoshi Bold";
  src: url(./../assets/Satoshi/Fonts/WEB/fonts/Satoshi-Bold.woff2);
}


@font-face {
  font-family: "Satoshi Regular";
  src: url(./../assets/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.woff);
}

@font-face {
  font-family: "Satoshi Black";
  src: url(./../assets/Satoshi/Fonts/WEB/fonts/Satoshi-Black.ttf);
}
@font-face {
  font-family: 'Clash Display ExtraLight';
  src: url(./../assets/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Extralight.woff);
}

.css-1piowx7-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #FD6E6A;
}
.css-17pjhi7-MuiTabs-indicator {
  background: var(--linear-1, linear-gradient(135deg, #FD6E6A 0%, #FFC600 100%));
}