.forgotPasswordContainer {
    display: flex;
    justify-content: center;
}
.forgotPasswordContent {
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.forgotPasswordInput {
    width: 340px;
    margin-bottom: 40px;
    margin-top: 32px;
}