.NavbarContainer {
  width: 100%;
  position: sticky;
  top: 0px;
  height: 70px;
  border: 1px solid white;
  border-radius: 36px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #ffff;
  background-color: #081630;
}

.Links {
  display: flex;
  justify-content: space-between;
  font-family: "Satoshi";
}

.Content {
  text-align: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
  height: 30px;
  padding: 5px 4px;
  border-radius: 4px;
}

.line {
  width: 30px;
  height: 5px;
  background-color: #000;
  margin: 3px 0;
}
