.topContent {
  display: flex;
  justify-content: space-around;
}
.topContentOne {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.walletBalanceContainer {
  display: flex;
  flex-direction: row;
  height: 119px;
  padding: 20px 26px;
  justify-content: space-between;
  background: rgba(247, 147, 26, 0.1);
  border-radius: 8px;
  border: 1px solid #f7931a;
  align-items: center;
}
.walletBalanceTitle {
  font-size: 16px;
  font-family: "Satoshi Regular";
  color: var(--333333, #333);
}
.walletBalance {
  font-family: "Clash Display Medium";
  font-size: 30px;
  color: #333333;
}
.withdrawContainer {
  padding: 42px 24px;
  border-radius: 16px;
  border-radius: 16px;
  background: #ffff;
}
.withdrawContainerWrapper {
  width: 50%;
}
.transactionsTitle {
  font-family: "Clash Display SemiBold";
  font-size: 18px;
  margin-top: 27px;
}
.transactionsSubtitle {
  font-family: "Satoshi Regular";
  color: #6c757d;
  font-size: 16px;
  opacity: 0.699999988079071;
  margin-top: 10px;
}
.withdrawFunds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.tableTitle {
  font-family: "Clash Display SemiBold";
  font-size: 18px;
  /* margin-bottom: 25px; */
}
@media screen and (max-width: 900px) {
  .tableTitle {
    font-size: 13px;
  }
}
.inputLabel {
  color: #081630;
  font-size: 16px;
  line-height: 24px;
  font-family: "Satoshi Light";
  margin-bottom: 8px;
}
.quickActionsContainer {
  padding: 30px 20px 30px 20px;
  border-radius: 16px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
}
.quickActionsWrapper {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 24px;
  border-radius: 16px;
  margin-top: 16px;
  /* gap: 5; */
}
.quickActionsText {
  font-size: 18px;
  font-family: "Clash Display Medium";
  text-align: center;
  margin-top: 16px;
}
.tableContainer {
  background-color: #ffff;
  padding: 25px 23px;
  border-radius: 8px;
  margin-top: 22px;
}
.filterWrapper {
  display: flex;
  align-items: center;
  color: #6c757d;
  font-family: "Clash Display Regular";
}

@media screen and (max-width: 800px) {
  .topContent {
    flex-direction: column;
    /* width: 80%; */
  }
  .topContentOne {
    width: 100%;
  }
  .walletBalanceContainer {
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
  }
  .quickActionsContainer {
    width: 80px;
    text-align: center;
  }
  .quickActionsText {
    font-size: 12px;
  }
  .withdrawContainerWrapper {
    width: 100%;
    margin-top: 24px;
  }
  .walletBalance {
    margin-bottom: 16px;
  }
  .tableContainer {
    display: none;
  }
}
